* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  
  overflow-x: hidden !important;
}
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Poppins:wght@200&family=Quicksand&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Orbitron:wght@500&family=Poppins:wght@200&family=Quicksand&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Mukta:wght@200&family=Orbitron:wght@500&family=Poppins:wght@200&family=Quicksand&family=Roboto&display=swap');

body {
  background: #073b4c;
  color: #fff; 
}